body
  background-color: #1e1e1e
#logo
  width: 800px
  height: 800px
  position: absolute
  display: inline-block
  left: 25%
p
  padding-top: 5%
  text-align: justify
  margin-bottom: 1.6em
.container
  padding: 60px 0
  left: 25%
  color: white
  position: absolute
  width: 90%
  max-width: 1000px
  margin: 0 auto
  overflow: hidden
.main
  padding-top: 10rem
.divicion
  position: absolute
  bottom: 0
  width: 100%

.footer
  position: absolute
  bottom: -100%
.texto-header
  display: flex
  height: 140%
  width: 100%
  align-items: center
  justify-content: center
  color: white